<div>
 
<div style="text-align: center;">
  <header>
    <h1 name="heading">Welcome to the Hyland Employee Portal</h1>
<a name="home" routerLink="/home" class="nav-link">Home</a>&nbsp;&nbsp;&nbsp;
<a name="login" routerLink="/login" class="nav-link">Login</a>&nbsp;&nbsp;&nbsp;
  </header>
</div>
 
<router-outlet>
 
</router-outlet>
 
<div style="text-align: center; margin-top: 100px;">
    <footer style="background-color: black; color:white; padding: 20px; position: fixed; width: 100%; bottom: 0;">
        <p id="footer">Copywright &copy; Hyland Softwares 2025</p>
        </footer>
</div>
   
  </div>